pkgbase = mesa
	pkgdesc = Open-source OpenGL drivers
	pkgver = 24.2.7
	pkgrel = 1
	epoch = 1
	url = https://www.mesa3d.org/
	arch = aarch64
	license = MIT AND BSD-3-Clause AND SGI-B-2.0
	makedepends = clang
	makedepends = expat
	makedepends = gcc-libs
	makedepends = glibc
	makedepends = libdrm
	makedepends = libelf
	makedepends = libglvnd
	makedepends = libva
	makedepends = libvdpau
	makedepends = libx11
	makedepends = libxcb
	makedepends = libxext
	makedepends = libxfixes
	makedepends = libxml2
	makedepends = libxrandr
	makedepends = libxshmfence
	makedepends = libxxf86vm
	makedepends = llvm
	makedepends = llvm-libs
	makedepends = lm_sensors
	makedepends = rust
	makedepends = spirv-llvm-translator
	makedepends = spirv-tools
	makedepends = systemd-libs
	makedepends = vulkan-icd-loader
	makedepends = wayland
	makedepends = xcb-util-keysyms
	makedepends = zlib
	makedepends = zstd
	makedepends = cbindgen
	makedepends = clang
	makedepends = cmake
	makedepends = elfutils
	makedepends = glslang
	makedepends = libclc
	makedepends = meson
	makedepends = python-mako
	makedepends = python-packaging
	makedepends = python-ply
	makedepends = python-yaml
	makedepends = rust-bindgen
	makedepends = wayland-protocols
	makedepends = xorgproto
	makedepends = valgrind
	makedepends = directx-headers
	options = !lto
	source = https://mesa.freedesktop.org/archive/mesa-24.2.7.tar.xz
	source = https://mesa.freedesktop.org/archive/mesa-24.2.7.tar.xz.sig
	source = https://halhadus.rocks/sharedfiles/other/turnip.patch
	sha256sums = a0ce37228679647268a83b3652d859dcf23d6f6430d751489d4464f6de6459fd
	sha256sums = SKIP
	sha256sums = cfeb2640105fbd59b7a0fcbeecf126c3e35f57970306c4b230f855e545475aab
	b2sums = eb1b0285e14e77c3140275b322ff084fca74a1048e6df38f4b14cb03ed7fc436897f7b33d107d1e262d9d4944229fb1e85d02e731c645ead5a7b269dec9334b7
	b2sums = SKIP
	b2sums = 512726c7b608e2d280b799fa8ee33583f45e1139013266b0e972738eb3107dd71d148478fda31bb1c0d1af456d16850443cf75c070b89fd731b9642693ae039d

pkgname = mesa
	depends = expat
	depends = gcc-libs
	depends = glibc
	depends = libdrm
	depends = libelf
	depends = libglvnd
	depends = libx11
	depends = libxcb
	depends = libxext
	depends = libxfixes
	depends = libxshmfence
	depends = libxxf86vm
	depends = llvm-libs
	depends = lm_sensors
	depends = wayland
	depends = zlib
	depends = zstd
	optdepends = opengl-man-pages: for the OpenGL API man pages
	provides = libva-mesa-driver=1:24.2.7-1
	provides = mesa-libgl=1:24.2.7-1
	provides = mesa-vdpau=1:24.2.7-1
	provides = libva-driver
	provides = opengl-driver
	provides = vdpau-driver
	provides = vulkan-intel
        provides = vulkan-nouveau
        provides = vulkan-radeon
	provides = vulkan-panfrost
	provides = vulkan-broadcom
        provides = vulkan-gfxstream
	provides = vulkan-dzn
	provides = mesa-docs
	conflicts = libva-mesa-driver<1:24.2.7-1
	conflicts = mesa-libgl<17.0.1-2
	conflicts = mesa-vdpau<1:24.2.7-1
	conflicts = vulkan-intel
        conflicts = vulkan-nouveau
        conflicts = vulkan-radeon
	conflicts = vulkan-panfrost
	conflicts = vulkan-broadcom
	conflicts = vulkan-gfxstream
	conflicts = vulkan-dzn
	conflicts = mesa-docs
        replaces = vulkan-intel
        replaces = vulkan-nouveau
        replaces = vulkan-radeon
	replaces = libva-mesa-driver<1:24.2.7-1
	replaces = mesa-libgl<17.0.1-2
	replaces = mesa-vdpau<1:24.2.7-1
	replaces = vulkan-panfrost
	replaces = vulkan-broadcom
	replaces = vulkan-gfxstream
	replaces = vulkan-dzn
	replaces = mesa-docs

pkgname = opencl-clover-mesa
	pkgdesc = Open-source OpenCL drivers - Clover variant
	depends = clang
	depends = expat
	depends = gcc-libs
	depends = glibc
	depends = libdrm
	depends = libelf
	depends = llvm-libs
	depends = spirv-llvm-translator
	depends = spirv-tools
	depends = zlib
	depends = zstd
	depends = libclc
	optdepends = opencl-headers: headers necessary for OpenCL development
	provides = opencl-driver
	conflicts = opencl-mesa
	replaces = opencl-mesa<=23.1.4-1

pkgname = opencl-rusticl-mesa
	pkgdesc = Open-source OpenCL drivers - RustICL variant
	depends = clang
	depends = expat
	depends = gcc-libs
	depends = glibc
	depends = libdrm
	depends = libelf
	depends = llvm-libs
	depends = spirv-llvm-translator
	depends = spirv-tools
	depends = zlib
	depends = zstd
	depends = libclc
	optdepends = opencl-headers: headers necessary for OpenCL development
	provides = opencl-driver
	conflicts = opencl-mesa
	replaces = opencl-mesa<=23.1.4-1

pkgname = vulkan-mesa-layers
	pkgdesc = Mesa's Vulkan layers
	depends = gcc-libs
	depends = glibc
	depends = libdrm
	depends = libxcb
	depends = wayland
	depends = python
	conflicts = vulkan-mesa-layer
	replaces = vulkan-mesa-layer

pkgname = vulkan-swrast
	pkgdesc = Open-source Vulkan driver for CPUs (Software Rasterizer)
	depends = expat
	depends = gcc-libs
	depends = glibc
	depends = libdrm
	depends = libx11
	depends = libxcb
	depends = libxshmfence
	depends = llvm-libs
	depends = systemd-libs
	depends = vulkan-icd-loader
	depends = wayland
	depends = xcb-util-keysyms
	depends = zlib
	depends = zstd
	optdepends = vulkan-mesa-layers: additional vulkan layers
	provides = vulkan-driver
	conflicts = vulkan-mesa
	replaces = vulkan-mesa

pkgname = vulkan-virtio
	pkgdesc = Open-source Vulkan driver for Virtio-GPU (Venus)
	depends = expat
	depends = gcc-libs
	depends = glibc
	depends = libdrm
	depends = libx11
	depends = libxcb
	depends = libxshmfence
	depends = systemd-libs
	depends = vulkan-icd-loader
	depends = wayland
	depends = xcb-util-keysyms
	depends = zlib
	depends = zstd
	optdepends = vulkan-mesa-layers: additional vulkan layers
	provides = vulkan-driver

pkgname = vulkan-freedreno
	pkgdesc = Freedreno Vulkan mesa driver 
	depends = wayland
	depends = libx11
	depends = libxshmfence
	depends = libdrm
	optdepends = vulkan-mesa-layers: additional vulkan layers
	provides = vulkan-driver
